<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @destination.location %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>


<div id="reviews">
	<%	@reviews.each do |review|	%>
		<p><%=	review.comment %></p>
	<%	end %>
</div>

<div id="review_form">
	  <%= form_for([@destination, Review.new]) do |f| %>
	    <%= f.label "Write your review:"%><br />
	    <%= f.text_area :comment %><br />
	    <%= f.submit %>
	  <% end %>
</div>





