<!DOCTYPE html>
<html>
<head>
  <title>Tour</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body> 
	
	<div id="top_nav">
		<% if user_signed_in? %>
		
			<p>logged in as: <%= current_user.email %> | <%= link_to "log out", destroy_user_session_path, :method => :delete %></p>
		
		<% else %>
		                                                                                                        
			<p><%= link_to "Log In", new_user_session_path %>
			<%= link_to "Sign Up", new_user_registration_path %></p>
		
		<% end %>
	</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
